header {
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 100;
}
header .inner_box {
  display: block;
  width: 1180px;
  height: 120px;
  margin: 0px auto 0px;
  position: relative;
}
header .inner_box .logo_text {
  display: block;
  width: auto;
  height: auto;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 10px;
}
header .inner_box .nav_bar {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
header .inner_box .nav_bar li a {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0px 20px;
  font-size: 20px;
  color: black;
  line-height: 50px;
  text-align: center;
}
header .inner_box .nav_bar li a:hover {
  background-color: gray;
  color: white;
}
header .inner_box .utility_bar {
  position: absolute;
  top: 20px;
  right: 30px;
}
header .inner_box .utility_bar li {
  margin: 0px 10px;
}
header .inner_box .utility_bar li a {
  color: gray;
}

section {
  width: 1000px;
  padding-top: 120px;
  margin: 0px auto 0px;
}
section article {
  float: left;
  position: relative;
  color: white;
}
section .art1 {
  display: block;
  width: width;
  height: 700px;
  display: block;
  width: height;
  height: 400px;
  margin: 10px 0px 10px 0px;
}
section .art1 p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}
section .art2 {
  display: block;
  width: width;
  height: 290px;
  display: block;
  width: height;
  height: 190px;
  margin: 10px 0px 10px 10px;
}
section .art2 p {
  position: absolute;
  top: 50px;
  left: 10px;
}
section .art3 {
  display: block;
  width: width;
  height: 290px;
  display: block;
  width: height;
  height: 95px;
  margin: 0px 0px 10px 10px;
}
section .art3:nth-child(1) p {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
section .art3:nth-child(2) p {
  position: static;
}
section .container_3 {
  display: block;
  width: width;
  height: 300px;
  float: left;
}
section .art4 {
  display: block;
  width: width;
  height: 490px;
  display: block;
  width: height;
  height: 240px;
  margin: 0px 0px 10px 0px;
}
section .art4:nth-child(1) p {
  position: static;
  width: 300px;
  margin: 160px auto 0px;
  color: black;
}
section .art4:nth-child(2) p {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 30px;
  color: gold;
}
section .container_4 {
  display: block;
  width: width;
  height: 500px;
  float: left;
}
section .art5 {
  display: block;
  width: width;
  height: 500px;
  display: block;
  width: height;
  height: 490px;
  margin: 0px 0px 10px 0px;
}
section .art5 p {
  position: static;
}
section .art6 {
  display: block;
  width: width;
  height: 1000px;
  display: block;
  width: height;
  height: 371px;
  margin: 0px 0px 10px 0px;
}
section .art6 p {
  position: static;
  font-size: 50px;
  text-align: center;
  line-height: 371px;
  text-shadow: 3px 3px 3px black;
}
section .art7 {
  display: block;
  width: width;
  height: 1000px;
  display: block;
  width: height;
  height: 361px;
  margin: 0px 0px 50px 0px;
}
section .art7 p {
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 450px;
  height: 150px;
  font-size: 20px;
}
section .art7 p span {
  font-size: 30px;
}/*# sourceMappingURL=main_gallery.css.map */