@use 'sass:list';
@use 'lib';

@include lib.import-header($fix_option: true);

// 해야할 것
// 여기서부터 다시 만지기
section {
  width: lib.$section-w;
  padding-top: lib.$header-h;
  @include lib.margin-center;

  article {
    float: left;
    position: relative;
    color: white;
  }

  // set .art#n class width, height
  $cnt_articles: list.length(lib.$article-m-list);

  @for $i from 1 through $cnt_articles {
    .art#{$i} {
      @include lib.block-set(width, list.nth(lib.$article-w, $i));
      @include lib.block-set(height, list.nth(lib.$article-h, $i));
      @include lib.margin-set(list.nth(lib.$article-m-list, $i));

      $pos-list: list.nth(lib.$article-p-pos-list, $i);
      $pos-val-list: list.nth(lib.$article-p-posVal-list, $i);
      $p-details: list.nth(lib.$article-p-details, $i);
      $p-span-details: list.nth(lib.$article-p-span-details, $i);

      $cnt_sub_articles: list.length($pos-list);

      @if $cnt_sub_articles > 1 {
        @for $j from 1 through $cnt_sub_articles {
          &:nth-child(#{$j}) p {
            @include lib.pos-set(list.nth($pos-list, $j));
            @include lib.posVal-setting(list.nth($pos-val-list, $j));
            @include lib.details-setting(list.nth($p-details, $j));

            span {
              @include lib.details-setting($p-span-details);
            } 
          }
        }
      }
      @else {
        p {
          @include lib.pos-set($pos-list);
          @include lib.posVal-setting($pos-val-list);
          @include lib.details-setting($p-details);

          span {
            @include lib.details-setting($p-span-details);
          }
        }
      }
    }

    @if list.nth(lib.$article-container-necessary, $i)==1 {
      .container_#{$i} {
        @include lib.block-set(width, calc(list.nth(lib.$article-w, $i) + lib.$article-gap));
        float: left;
      }
    }
  }
}