@use 'sass:list';
@use 'lib';

@include lib.import-header($fix_option: true);

section {
  @include lib.create-new-box(lib.$gallery-section-values-map);
  @include lib.margin-center;

  article {
    @include lib.relative-set;
    @include lib.font-setting(lib.$gallery-article-font);
    @include lib.details-setting(lib.$gallery-article-details);
  }

  // set .art#n class width, height
  $cnt_articles: list.length(lib.$gallery-article-m-list);

  @for $i from 1 through $cnt_articles {
    .art#{$i} {
      @include lib.create-new-box(list.nth(lib.$gallery-article-values-map-list, $i));

      $pos-list: list.nth(lib.$gallery-article-p-pos-list, $i);
      $pos-val-list: list.nth(lib.$gallery-article-p-posVal-list, $i);
      $p-details: list.nth(lib.$gallery-article-p-details, $i);
      $p-span-details: list.nth(lib.$gallery-article-p-span-details, $i);

      $cnt_sub_articles: list.length($pos-list);

      @if $cnt_sub_articles > 1 {
        @for $j from 1 through $cnt_sub_articles {
          &:nth-child(#{$j}) p {
            @include lib.pos-set(list.nth($pos-list, $j));
            @include lib.posVal-setting(list.nth($pos-val-list, $j));
            @include lib.details-setting(list.nth($p-details, $j));

            span {
              @include lib.details-setting($p-span-details);
            } 
          }
        }
      }
      @else {
        p {
          @include lib.pos-set($pos-list);
          @include lib.posVal-setting($pos-val-list);
          @include lib.details-setting($p-details);

          span {
            @include lib.details-setting($p-span-details);
          }
        }
      }
    }

    @if list.nth(lib.$gallery-article-container-necessary, $i)==1 {
      .container_#{$i} {
        @include lib.create-new-block((width: calc(list.nth(lib.$gallery-article-w, $i) + lib.$gallery-article-gap)));
        float: left;
      }
    }
  }
}