@mixin block-sizing ($width: null, $height: null) {
    display: block;
    width: $width;
    height: $height;
}

@mixin margin-align ($top-margin: 0px, $bottom-margin: -1) {
    @if ($bottom-margin !=-1) {
        margin: $top-margin auto $bottom-margin;
    }

    @else {
        margin: $top-margin auto;
    }
}

@mixin position ($position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin font-setting ($font_size: null, $font_weight: null, $color: null, $line_height: null) {
    font-size: $font_size;
    font-weight: $font_weight;
    color: $color;
    line-height: $line_height;
}

* {
    margin: 0px;
    padding: 0px;
    font: verdana;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    float: left;
}

a {
    text-decoration: none;
}

.logo_text {
    @include position($left: 10px, $bottom: 15px);
}

header {
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 1;

    div.inner_box {
        position: relative;
        @include block-sizing(1180px, 120px);
        @include margin-align();

        ul.nav_bar {
            @include position($right: 0px, $bottom: 0px);

            li {
                a {
                    margin: 0px 20px;
                    text-align: center;
                    @include block-sizing(150px, 50px);
                    @include font-setting($font_size: 20px, $color: black, $line_height: 50px);

                    &:hover {
                        color: white;
                        background-color: gray;
                    }
                }
            }
        }

        ul.utility_bar {
            @include position($right: 30px, $top: 20px);

            li {
                margin: 0px 10px;

                a {
                    color: gray;
                }
            }
        }
    }
}

section {
    width: 1000px;
    padding-top: 120px;
    @include margin-align();

    article {
        float: left;
        position: relative;
        @include font-setting($color: white);
    }

    .art1 {
        margin: 10px 10px 10px 0px;
        @include block-sizing(700px, 400px);

        p {
            @include position($right: 10px, $bottom: 10px);
            @include font-setting($font_size: 30px);
        }
    }

    .art2 {
        margin: 10px 0px;
        @include block-sizing(290px, 190px);

        p {
            @include position($top: 50px, $left: 10px);
        }
    }

    .art3 {
        margin-bottom: 10px;
        @include block-sizing(290px, 95px);

        p {
            @include position($right: 10px, $bottom: 20px);
        }
    }

    div.art4_containor {
        float: left;
        @include block-sizing(500px, 500px);
    }

    .art4 {
        margin-bottom: 10px;
        @include block-sizing(490px, 240px);

        &:nth-child(odd) p {
            width: 300px;
            @include margin-align(160px, 0px);
            @include font-setting($color: black);
        }

        &:nth-child(even) p {
            @include position($right: 20px, $bottom: 30px);
            @include font-setting($font_size: 30px, $color: gold);
        }
    }

    .art5 {
        margin-bottom: 10px;
        @include block-sizing(500px, 490px);
    }

    .art6 {
        margin-bottom: 10px;
        @include block-sizing(1000px, 371px);

        p {
            text-align: center;
            text-shadow: 3px 3px 3px black;
            @include font-setting($font_size: 50px, $line_height: 371px);
        }
    }

    .art7 {
        margin-bottom: 50px;
        @include block-sizing(1000px, 361px);

        p {
            @include block-sizing(450px, 150px);
            @include position($right: 30px, $bottom: 40px);
            @include font-setting($font-size: 20px);

            span {
                @include font-setting($font-size: 30px);
            }
        }
    }
}