@use 'sass:list';

// universal settings
$univ-m: 0px;
$univ-p: 0px;
$univ-font: (style: verdana);
$univ-sizing: border-box;
$univ-list-details: (
  list-style-type: none,
  float: left,
);
$univ-anchor-details: (
  text-decoration: none
);

// (component) logo values
$logo-display: block;
$logo-font: (
  size: 2em,
  weight: bold,
);

// (compoenent) header values 
$header-w: 100%;
$header-h: 120px;
$header-border: (
  dir: bottom,
  val: 1px solid black,
);
$header-pos: fixed;
$header-z: 1;
$header-bg-color: white;
$header-values-map: (
  width: $header-w,
  //height: $header-h,
  border: $header-border,
  position: $header-pos,
  zIndex: $header-z,
  bg-color: $header-bg-color,
);

$header-inner-w: 1180px;
$header-inner-h: $header-h;
$header-inner-pos: relative;
$header-inner-values-map: (
  width: $header-inner-w,
  height: $header-inner-h,
  position: $header-inner-pos,
);

$header-logo-pos: absolute;
$header-logo-posVal: null null 15px 10px;

$header-nav-pos: absolute;
$header-nav-posVal: null 0px 0px null;
$header-util-pos: absolute;
$header-util-posVal: 20px 30px null null;

$header-nav-a-w: 150px;
$header-nav-a-h: $header-nav-a-w / 3;
$header-nav-a-m: 0px 20px;
$header-nav-a-font: (
  size: $header-nav-a-h / 5 * 2,
  height: $header-nav-a-h,
  color: black,
  align: center,
);
$header-nav-a-values-map: (
  width: $header-nav-a-w,
  height: $header-nav-a-h,
  margin: $header-nav-a-m,
  font: $header-nav-a-font,
);

$header-nav-a-hover-font: (
  color: white,
);
$header-nav-a-hover-bg-color: gray;
$header-util-li-m: 0px 10px;
$header-util-a-font: (
  color: gray,
);

// index values
$index-main-w: 100%;
$index-main-h: 590px;
$index-main-values-map: (
  width: $index-main-w,
  height: $index-main-h,
);
$index-main-details: (
  background-size: contain,
  overflow: hidden, // for eliminating margin colllapsing
);

$index-main-inner-w: 800px;
$index-main-inner-h: 300px;
$index-main-inner-values-map: (
  width: $index-main-inner-w,
  height: $index-main-inner-h,
);
$index-main-inner-font: (
  size: 25px,
  color: white,
);

$index-main-inner-title-font: (
  size: 80px,
  weight: 1000,
);

$index-section-w: 1180px;
$index-section-h: 450px;
$index-section-values-map: (
  width: $index-section-w,
  height: $index-section-h,
);

$index-section-title-w: 100%;
$index-section-title-h: 100px;
$index-section-title-font: (
  align: center,
  size: 20px,
  weight: 800,
  height: $index-section-title-h,
);
$index-section-title-values-map: (
  width: $index-section-title-w,
  height: $index-section-title-h,
  font: $index-section-title-font,
);

$index-section-article-w: 230px;
$index-section-article-h: $index-section-h - $index-section-title-h;
$index-section-article-cnt: 4; // index.html의 section article 개수
$index-section-article-gap: ($index-section-w - ($index-section-article-cnt * $index-section-article-w)) / ($index-section-article-cnt - 1);
$index-section-article-m-list: (
  (0px $index-section-article-gap 0px 0px),
  (0px $index-section-article-gap 0px 0px),
  (0px $index-section-article-gap 0px 0px),
  (0px 0px 0px 0px),
);
$index-section-article-values-map-list: (
  (
    width: $index-section-article-w,
    height: $index-section-article-h,
    margin: list.nth($index-section-article-m-list, 1),
  ),
  (
    width: $index-section-article-w,
    height: $index-section-article-h,
    margin: list.nth($index-section-article-m-list, 2),
  ),
  (
    width: $index-section-article-w,
    height: $index-section-article-h,
    margin: list.nth($index-section-article-m-list, 3),
  ),
  (
    width: $index-section-article-w,
    height: $index-section-article-h,
    margin: list.nth($index-section-article-m-list, 4),
  ),
);
$index-section-article-details: (
  float: left,
);

$index-section-article-h3-h: 40px;
$index-section-article-h3-font: (
  height: $index-section-article-h3-h,
);
$index-section-article-h3-values-map: (
  height: $index-section-article-h3-h,
  font: $index-section-article-h3-font,
);

$footer-w: 100%;
$footer-bg-color: rgb(23, 23, 49);
$footer-font-color: rgb(137, 137, 137);
$footer-font: (
  color: $footer-font-color,
);
$footer-values-map: (
  width: $footer-w,
  bg-color: $footer-bg-color,
  font: $footer-font,
);

$footer-inner-w: 1000px;
$footer-inner-h: 100px;
$footer-inner-pos: relative;
$footer-inner-values-map: (
  width: $footer-inner-w,
  height: $footer-inner-h,
  position: $footer-inner-pos,
);

$footer-info-w: $footer-inner-w;
$footer-info-h: $footer-inner-h * 2;
$footer-info-values-map: (
  width: $footer-info-w,
  height: $footer-info-h,
);

$footer-info-p-m: 50px 0px 0px 0px;
$footer-info-p-values-map: (
  margin: $footer-info-p-m,
);

$footer-menu-pos: absolute;
$footer-menu-posVal: null 20px 15px null;

$footer-menu-li-display: inline-block;
$footer-menu-li-m: 0px 0px 0px 30px; 
$footer-menu-li-p: 0px 0px 0px 30px; 
$footer-menu-li-border: (
  dir: left,
  val: 1px solid $footer-font-color,
);
$footer-menu-li-font: (
  align: center,
);
$footer-menu-li-values-map: (
  margin: $footer-menu-li-m,
  padding: $footer-menu-li-p,
  border: $footer-menu-li-border,
  font: $footer-menu-li-font,
);
$footer-menu-li-details: (
  float: none,
);
$footer-menu-li-a-font: (
  color: $footer-font-color,
);

// gallery values
$gallery-section-w: 1000px;
$gallery-section-p: $header-h 0px 0px 0px;
$gallery-section-values-map: (
  width: $gallery-section-w,
  padding: $gallery-section-p,
);

$gallery-article-font: (
  color: white,
);
$gallery-article-details: (
  float: left,
);

$gallery-article-w: 700px 290px 290px 490px 500px 1000px 1000px;
$gallery-article-h: 400px 190px 95px 240px 490px 371px 361px;
$gallery-article-gap: calc($gallery-section-w - 990px);
$gallery-article-basic-m: 10px;

$gallery-article-m-list: (
  (10px 0px 10px 0px),          // art#1's margin
  (10px 0px 10px 10px),         // art#2's margin
  (0px 0px 10px 10px),          // art#3's margin
  (0px 0px 10px 0px),           // art#4's margin
  (0px 0px 10px 0px),           // art#5's margin
  (0px 0px 10px 0px),           // art#6's margin
  (0px 0px 50px 0px),           // art#7's margin
);

$gallery-article-values-map-list: (
  (
    width: list.nth($gallery-article-w, 1),
    height: list.nth($gallery-article-h, 1),
    margin: list.nth($gallery-article-m-list, 1),
  ),
  (
    width: list.nth($gallery-article-w, 2),
    height: list.nth($gallery-article-h, 2),
    margin: list.nth($gallery-article-m-list, 2),
  ),
  (
    width: list.nth($gallery-article-w, 3),
    height: list.nth($gallery-article-h, 3),
    margin: list.nth($gallery-article-m-list, 3),
  ),
  (
    width: list.nth($gallery-article-w, 4),
    height: list.nth($gallery-article-h, 4),
    margin: list.nth($gallery-article-m-list, 4),
  ),
  (
    width: list.nth($gallery-article-w, 5),
    height: list.nth($gallery-article-h, 5),
    margin: list.nth($gallery-article-m-list, 5),
  ),
  (
    width: list.nth($gallery-article-w, 6),
    height: list.nth($gallery-article-h, 6),
    margin: list.nth($gallery-article-m-list, 6),
  ),
  (
    width: list.nth($gallery-article-w, 7),
    height: list.nth($gallery-article-h, 7),
    margin: list.nth($gallery-article-m-list, 7),
  ),
);

$gallery-article-container-necessary: (
  0,    // container need? art#1
  0,    // container need? art#2
  1,    // container need? art#3
  1,    // container need? art#4
  0,    // container need? art#5
  0,    // container need? art#6
  0,    // container need? art#7
);

$gallery-article-p-pos-list: (
  absolute,           // (art#1 p)'s position
  absolute,           // (art#2 p)'s position 
  (absolute, static), // (art#3 p)'s position
  (static, absolute), // (art#4 p)'s position
  static,             // (art#5 p)'s position
  static,             // (art#6 p)'s position
  absolute,           // (art#7 p)'s position
);

$gallery-article-p-posVal-list: (
// (top, right, bottom, left)
  (null, 10px, 10px, null),   // (art#1 p)'s position value
  (50px, null, null, 10px),   // (art#2 p)'s position value
  (
    (null, 10px, 20px, null), // (art#3-1 p)'s position value
    (null, null, null, null), // (art#3-2 p)'s position value
  ),   
  (
    (null, null, null, null), // (art#4-1 p)'s position value
    (null, 20px, 30px, null), // (art#4-2 p)'s position value
  ),
  (null, null, null, null),   // (art#5 p)'s position value
  (null, null, null, null),   // (art#6 p)'s position value
  (null, 30px, 40px, null),   // (art#7 p)'s position value
);

// 그 외 세부 설정값들
$gallery-article-p-details: (
  (font-size: 30px),
  null,
  (
    null,
    null
  ),
  (
    (width: 300px, margin: (160px auto 0px), color: black),
    (font-size: 30px, color: gold)
  ),
  null,
  (font-size: 50px, text-align: center, line-height: 371px, text-shadow: 3px 3px 3px black), // This must be a single value, not a list.
  (width: 450px, height: 150px, font-size: 20px)
);

$gallery-article-p-span-details: (
  null,             // art#1
  null,             // art#2
  null,             // art#3
  null,             // art#4
  null,             // art#5
  null,             // art#6
  (font-size: 30px) // art#7의 span 스타일
);